<section class="wrapper style2 align-left">
    <div class="inner">
        <h2>Schedule</h2>
        <div class="index align-left">
            <section>
                <div class="content">
                    <div class="table-wrapper">
                        <table>
                            <thead>
                            <tr>
                                <th>Time</th>
                                <th>Event</th>
                                <th>Details</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1:00pm</td>
                                <td>General Reception</td>
                                <td>Food, drinks, yard games, and dancing</td>
                            </tr>
                            <tr>
                                <td>1:30pm</td>
                                <td>Ceremony & Vows</td>
                                <td>A short and sweet ceremony</td>
                            </tr>
                            <tr>
                                <td>Throughout</td>
                                <td>Pizza & Cocktails</td>
                                <td>Enjoy delicious wood-fired pizza and drinks</td>
                            </tr>
                            </tbody>
                        </table>

                        <p style="font-style: italic; padding: 3rem; text-align: center">After 5:000pm is for the adults; it'll be boisterous!! It's up to you if you'd like your little ones to keep hanging. Help us Stock the Bar! If you're staying after 5:00 pm, please bring a beverage of your choice to drink and/or share.</p>

                        <table>
                            <thead>
                            </thead>
                            <tbody>
                            <tr>
                                <td>5:00pm - 10:00pm</td>
                                <td>Adults Afterparty</td>
                                <td>More drinks, music, and celebration!</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
